<html>
    <head>
        <title>{{ title }}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='default.css') }}"> <!-- SERVE STATIC LIKE THIS -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='suggest.css') }}">
    </head>
    <body>
        <header id="nav"><h1><a href="/about">About</a> &nbsp <a href="/coffee"> {{ title }} </a> &nbsp <a href="/suggestions">Suggestions</a> </h1> </header>
            <article>
                <div id='intro'>
                    <h1>New Shop on the Block?</h1>
                    <p>Found a hit new spot you think we should add?</p>
                </div>
                <form method="POST" action="/suggestions">
                    {{ form.hidden_tag() }}
                    <div id='forms'>
                        {{ form.firstName.label }}
                        {{ form.firstName }}

                        {{ form.lastName.label }}
                        {{ form.lastName }}
                        
                        {{ form.email.label }}
                        {{ form.email }}

                        {{ form.find.label }}
                        {{ form.find }}

                        {{ form.socialMed.label }}
                        {{ form.socialMed }}
                    </div>
                    {{ form.submit() }}
                </form>
            </article>
        {% extends "footer.html" %}
    </body>
</html>