<html>
    <head>
        <title>{{ title }}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" rel="stylesheet">
    </head>
<body>
    <header>
        <h1>{{ title }}<h1>
    </header>
    <p>
        Table of Jump Bike bikes in D.C along with a map of the first ten bikes.
        🚴🚴🚴
    </p>
    <p>
        Dataset from their open data <a href="https://dc.jumpmobility.com/opendata/free_bike_status.json">API</a>
        linked there. Data gotton from backend in python, cleaned up to be geojson,
        and then converted to a format that Mapbox maps would understand. 

        First, a table of how many bikes per charge level. Then a table of data from all the bikes. Then as 
        stated before a map of the first ten bikes. Finally a describe table of the bikes based of of
        charge data. 
    </p>

    <div>
        {% for table in chargeTable %}
            {{ table|safe }}
        {% endfor %}
        <h3>Chart</h3>
            {{ the_div|safe }}
                <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
                <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
            {{ the_script|safe }}
    </div>
    </div>
    &nbsp
    <div id="map"></div>
    <div>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>
    <div>
        {% for table in CdescribeTable %}
            {{ table|safe }}
        {% endfor %}
    </div>
    <script>
        cords = '{{ bikeLocations|safe }}'
        cordJ = JSON.parse(cords)
    mapboxgl.accessToken = '{{ MAPBOX_ACCESS_KEY }}'
    let map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: [-77.007008, 38.905543],
        zoom: 10
    
    });
    var geojson = {
    type: 'FeatureCollection',
    features: [{
        type: 'Feature',
        geometry: {
         type: 'Point',
         coordinates: [-77.02004666666667,  38.90080666666667]
    },
        properties: {
            title: 'JumpBikeOne',
            description: 'Cordinates for Jump Bike one'
    }
    },
    {
        type: 'Feature',
        geometry: {
         type: 'Point',
         coordinates: [-77.06032333333333, 38.920471666666664]
    },
        properties: {
            title: 'JumpBikeTwo',
            description: 'Cordinates for Jump Bike two'
        }
    }]
    };


    cordJ.features.forEach(function(marker) {
        var el = document.createElement('div');
        el.className = 'marker';

        new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        .addTo(map);
    
        new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
        .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
        .addTo(map);
    
    });



    </script>
</body>
</html>
